@import "../../styles/variables.scss";
@import "../../styles/mixins";

.button {
    @include gradient-button;
    outline: 0;
    border: none;
    padding: 0.5rem;
    font-weight: 650;
    font-size: 16px;
    line-height: 20px;
    flex: 0.6;
    border-radius: 5px;
    color: $primary-font-color;
    cursor: pointer;
    @include transition-03s-button;
}

