@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 120px;
}

@mixin horizontal-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}

@mixin input {
    padding: 0.3rem;
}

@mixin vertical-margin-element {
    margin: 0.5rem 0;
}

@mixin gap-16 {
    gap: 16px;
}

@mixin transition-03s-text {
    transition: color 0.3s ease-in;
}

@mixin transition-03s-button {
    transition: background 0.3s ease-in;
}

@mixin gradient-text {
    background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin gradient-button {
  background: linear-gradient(125deg, #EE82EE 0%, #FFA500 100%);
  background-size: 200% auto;
  background-position: left center;
  transition: background-position 0.3s ease-in;

  &:hover {
    background-position: right center;
  }
}