$body-background-color: radial-gradient(circle at 8% 33%, rgba(0, 0, 0, 1) 0%, rgba(53, 90, 141, 1) 100%);
$primary-font-color: #ffffff;
$sub-font-color: #00FFC6; 
$button-background-color: #FFA500;
$button-hover-color: #e59400;
$text-gradient: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);